body {
    margin: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/Museo Sans Cyrl 500.ttf");
    font-family: "Museo Sans Cyrl";
}
@font-face {
    src: url("../fonts/Museo Sans Cyrl 700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    padding: 14px 35px;
    border-radius: 6px;
    background: #6933DC;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: 0;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #4519a2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;

}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;

}

.button-transparent:hover {
    background: #6933DC;
    color: white;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}
.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
    color: #333333;
}

.common-title span {
    color: #6933DC;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933DC;
}